* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.container {
    width: 80%;
    height: 80vh;
    display: flex;
}
.login {
    width: 40%;
    height: 100%;
    padding: 0px 80px;
    background-color: white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login a, label, p {
    font-size: 15px;
}
.fields {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 20px 0px;
}
input[type="text"] {
    padding: 10px 10px;
    border: .5px solid black;
    border-radius: 5px;
    margin: 5px 0px;
}
.checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#check {
    height: 15px;
    width: 15px;
}
.login p {
    text-align: center;
}
button {
    padding: 15px 0px;
    background-color: rgb(0, 122, 255);
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
}
#line-txt {
    display: flex;
    align-items: center;
    justify-content: center;
}
.line {
    border: .5px solid black;
    width: 40%;
}
#or {
    margin: 10px 10px;
}
#g-btn {
    background-color: white;
    color: black;
    outline: .5px solid rgb(0, 122, 255);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#g-btn img {
    width: 5%;
}
.bg {
    background-image: url(assets/bg.jpg);
    background-size: cover;
    width: 60%;
    height: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 50px 50px;
    display: flex;
    flex-direction: column-reverse;
}
.bg h1 {
    color: white;
    display: none;
}

@media (max-width:790px) {
    .login {
        width: 100%;
        height: 60%;
        padding: 0px 50px;
        background-color: white;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
    }
    h1 {
        display: none;
    }
    .fields {
        margin: 0px;
    }
    .bg {
        height: 40%;
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .bg h1 {
        display: flex;
    }
    #l-btn {
        margin-top: 10px;
    }
}